<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: lightcyan;
      }
      #sinal,
      input {
        font-size: 20px;
      }
      #sinal {
        font-weight: bold;
      }
    </style>
    <title>Calculadora</title>
  </head>
  <body>
    <h1>Calculadora</h1>
    <h3>
      Digite dois valores, selecione um operador aritmético e clique em
      Calcular:
    </h3>
    <form method="POST" action="/calcular">
      <input type="text" name="a" id="a" placeholder="Digite um valor" />
      <select name="sinal" id="sinal">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="text" name="b" id="b" placeholder="Digite um valor" />
      <input type="submit" id="button-calcular" value="Calcular" />
    </form>

    <h2 th:if="${resultado != null}" th:text="${resultado}"></h2>

    <ul th:if="${historico !=null}" th:each="item : ${historico}">
      <li th:text="${item}"></li>
    </ul>
  </body>
</html>
